.container {
	margin-top: 15px;
}

.header {
	margin-bottom: 30px; border-bottom: 1px solid #e5e5e5;
}

.text-muted {
	padding-bottom: 19px; margin-top: 0; margin-bottom: 0; line-height: 40px;
}

.jumbotron p {
	font-size: 16px;
}